@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  height: 1000px;
}
#header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  
}
.header_logo .logo {
  width: 170px;
  height: 70px;
}
.header_logo {
  display: flex;
  align-items: center;
}
.header_menu {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
  line-height: 100px;
  position: relative;
}
.menu_categories_link,
.menu_product_link {
  position: relative;
}
.header_menu:hover > a {
  color: #6c0000;
}
.header_menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.header_right {
  display: flex;
  width: 13%;
  justify-content: space-between;
  align-items: center;
}
.header_right i {
  font-size: 18px;
}
.header_right .icon {
  position: relative;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  align-items: center;
}
.header_right .icon:hover {
  cursor: pointer;
  background-color: #6c0000;
}
.numberbuy {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-10%, -50%);
  width: 18px;
  background-color: #6c0000;
  text-align: center;
  background-color: #fff;
  color: #000;
  border-radius: 100%;
  border: 1px solid;
  line-height: 18px;
}

.offer,
.hot {
  margin-top: 25px;
  position: absolute;
  top: -4px;
  left: 23px;
  transform: translate(-30%, -20%);
  line-height: 15px;
  width: 36px;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
}
.offer span,
.hot span {
  font-size: 11px;
  color: white;
  cursor: pointer;
}
.squence {
  height: 5px;
  width: 5px;
  background-color: #000;
  position: absolute;
  top: 15px;
  right: 18px;
  transform: rotate(40deg);
}
.bi-chevron-down {
  font-size: 12px;
  margin-left: 3px;
}
/* hiệu ứng quay */
/* .bi-search{
  transform: rotateY(0deg);
}
.bi-search:hover{
  transform: rotateY(360deg);
transition: 0.3s;
} */
/* pages brand */
.header_menu_pages .pages_children,
.header_menu_brand .brand_childer {
  position: absolute;
  top: 80px;
  width: 180px;
  line-height: 20px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  height: 0;
  transition: 0.3s;
}
.pages_children li a,
.brand_childer_a a {
  font-size: 15px;
  opacity: 0.9;
}
.pages_children li,
.brand_childer_a {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header_menu_pages:hover .pages_children,
.header_menu_brand:hover .brand_childer {
  border-top: 3px solid#6c0000;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  height: 243px;
}
.header_menu a:hover {
  color: #6c0000;
}
/* product */

.product_childents_childent {
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
}
.childent_big .big_img {
  height: 84px;
  width: 67px;
}

.childent_big {
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 84px;
  box-sizing: border-box;
}

.bi-star {
  font-size: 14px;
  color: #feca7b;
}
.ben {
  display: flex;
  flex-direction: column;
  line-height: 100%;
  justify-content: space-between;
  flex: 1;
  margin-left: 7px;
}
.header_menu_product .product_childents {
  width: 0;
  height: 0;
  position: absolute;
  top: 75px;
  left: 0;
  box-sizing: border-box;

  overflow: hidden;
  transition: 0.5s;
}
.header_menu_product:hover .product_childents {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  width: 805px;
  height: 440px;
  cursor: pointer;
  display: block;
  background-color: whitesmoke;
  border-top: 3px solid #6c0000;
}

/* categories */
.categories_content {
  position: absolute;
  top: 85px;

  width: 0px;
  height: 0px;
  box-sizing: border-box;
  padding-bottom: 25px;
  background-color: whitesmoke;
  overflow: hidden;
  transition: 0.3s;
}
.header_menu_categories:hover .categories_content {
  border-top: 3px solid #6c0000;
  display: flex;
  justify-content: space-around;
  width: 900px;
  height: 400px;
  box-shadow: 0 0 10px 0;
}
.categories_content_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mid_content a,
.right_content a,
.shop_content li a {
  font-size: 14px;
}
.mid_content {
  margin-bottom: 20px;
  line-height: 30px;
  box-sizing: border-box;
  height: 140px;
}
.right_content {
  line-height: 30px;
}
/* shop */
.shop_content {
  position: absolute;
  top:80px;
  width: 920px;
  height: 0;
  background-color: whitesmoke;
  
  overflow: hidden;
  transition: 0.3s;


}
.shop_content_link {
  line-height: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
.shop_content li {
  margin-left: 20px;
  padding: 8px 0;
}
.shop_img{
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.header_menu_shop:hover .shop_content{
  display: block;
  height: 480px;
  border-top: 3px solid #6c0000;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
/* ****search */
/* .search{
  position: absolute;
  top:80px;
  display: flex;
  height: 40px;
  width: 200px;
  background-color: whitesmoke;
  align-items: center;
  display: none;
}
.header_right .icon:hover .search{
  display: block;
  
}
.search_input{
  outline: whitesmoke;
  border: none;
  font-size: 18px;
  width: 160px;
  background-color: whitesmoke;
}
.click_search{
   line-height: 40px;
   width: 40px;
   background-color: #6c0000;
   color: whitesmoke;
   text-align: center;
} */
