@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
/* pc */
/* tablet */

html {
  font-family: "Poppins", sans-serif;
}

#header {
 
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
}

.slider-scroll {
  margin-top: 100px;
}

@keyframes fadeIndown {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.header-fixed {
  position: fixed;
  top: 0;
  border: 2px solid #efefef;
  background-color: #ffffff;
  z-index: 9;
  animation: fadeIndown 1s ease-out forwards;
}

.header_logo .logo {
  max-width: 170px;
  width: 100%;
  object-fit: cover;
}
.header_logo {
  display: flex;
  align-items: center;
}
.header_right-mobile {
  align-items: center;
  display: none;
  font-size: 32px;
}
.num,
.header_menu {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  height: 100px;
  line-height: 100px;
  position: relative;
}
.menu_categories_link,
.menu_product_link {
  position: relative;
}
.header_menu:hover > a {
  color: #6c0000;
  text-decoration: none;
}
.header_menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.header_menu a:hover {
  text-decoration: none;
}
.header_right {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}
.header_right i,
.header_right a {
  font-size: 18px;
  color: white;
}
.header_right-mobile,
.header_right .icon {
  position: relative;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  align-items: center;
  flex: 1;
}
.header_right-mobile {
  display: none;
}
.header_right .icon:hover {
  cursor: pointer;
  background-color: #6c0000;
}
.header-menu-mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 255px;
  background-color: #fff;
  z-index: 9;
  transform: translateX(-100%);
  transition: 0.3s;
}
.header-menu-mobile.show .header-menu-mobile-container {
  transform: translateX(0);
}
.header-menu-list_item {
  display: flex;
  width: 100%;
}
.header-menu-list_link {
  font-weight: 700;
  padding: 10px 15px;
  border-bottom: 1px solid #d9d9d9;
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
  transition: 0.3s;
}

.header-menu-list_link.show {
  transition: all 0.3s ease-in-out;
  height: 280px;
  min-height: 280px;
  overflow-y: auto;
}

.header-menu-list_link a {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #000;
}

.header-menu-list_link .header-menu-list_icon {
  width: 22px;
  height: 20px;
  background-color: #6c0000;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.header-menu-list_level2 {
  margin-top: 16px;
  list-style: none;
  font-weight: 400;
  padding: 0;
}

.header-menu-list_level2-link {
  padding-bottom: 8px;
}

.header-menu-list .offer,
.header-menu-list .hot {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  transform: translate(0);
  line-height: 21px;
  margin-left: 8px;
}
.header-menu-list .squence {
  display: none;
}
.header-menu-close {
  font-size: 36px;
  font-weight: 900;
  text-align: right;
  padding: 8px;
}
.header-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 8;
  opacity: 0;
  visibility: hidden;
}
.header-menu-mobile.show .header-menu-overlay {
  opacity: 1;
  visibility: visible;
}
.numberbuy {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-10%, -50%);
  width: 18px;
  background-color: #6c0000;
  text-align: center;
  background-color: #fff;
  color: #000;
  border-radius: 100%;
  border: 1px solid;
  line-height: 18px;
}
.menu_categories_link .squence {
  background-color: #6c0000;
}
.offer,
.hot {
  margin-top: 25px;
  position: absolute;
  top: -4px;
  left: 23px;
  transform: translate(-30%, -20%);
  line-height: 15px;
  width: 36px;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
  background-color: #6c0000;
}
.hot {
  background-color: #000;
}
.offer span,
.hot span {
  font-size: 11px;
  color: white;
  cursor: pointer;
}
.squence {
  height: 5px;
  width: 5px;
  background-color: #000;
  position: absolute;
  bottom: -15%;
  right: 50%;
  transform: translate(50%, 50%);
  transform: rotate(45deg);
}
.bi-chevron-down {
  font-size: 12px;
  margin-left: 3px;
}

.header-menu-mobile{
  display: none;
}

.header_menu_pages .pages_children,
.header_menu_brand .brand_childer {
  position: absolute;
  top: 80px;
  width: 180px;
  line-height: 20px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  height: 0;
  transition: 0.3s;
}
.pages_children a,
.brand_childer_a a {
  font-size: 15px;
  opacity: 0.9;
}

.brand_childer_a {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.pages_children .pages_children_link {
  padding: 10px;
  border-bottom: 1px solid;
}
.header_menu_pages:hover .pages_children {
  border-top: 3px solid#6c0000;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  height: 245px;
  z-index: 99999;
}
.header_menu_brand:hover .brand_childer {
  border-top: 3px solid#6c0000;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  height: 207px;
  z-index: 99999;
}
.header_menu a:hover {
  color: #6c0000;
}
/* product */

.product_childents_childent {
  margin-left: 40px;
  margin-bottom: 30px;
  display: flex;
}

.product_childents_childent h4 {
  height: 30px;
  margin-top: 20px;
}
.childent_big .big_img {
  height: 84px;
  width: 67px;
}

.childent_big {
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 84px;
  box-sizing: border-box;
}

.bi-star {
  font-size: 14px;
  color: #feca7b;
}
.ben {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  justify-content: space-between;
  flex: 1;
  margin-left: 7px;
  margin-top: 3px;
}
.ben a {
  font-size: 14px;
}
.ben_money {
  margin-bottom: 60px;
  box-sizing: border-box;
}
.header_menu_product .product_childents {
  width: 0;
  height: 0;
  position: absolute;
  top: 75px;
  left: 0;
  box-sizing: border-box;

  overflow: hidden;
  transition: 0.5s;
}
.header_menu_product:hover .product_childents {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  width: 820px;
  height: 420px;
  cursor: pointer;
  display: block;
  background-color: whitesmoke;
  border-top: 3px solid #6c0000;
  z-index: 99999;
}

/* categories */
.categories_content {
  position: absolute;
  top: 85px;
  display: flex;
  justify-content: space-around;
  width: 0px;
  height: 0px;
  box-sizing: border-box;
  padding-bottom: 25px;
  background-color: whitesmoke;
  overflow: hidden;
  transition: 0.3s;
}
.header_menu_categories:hover .categories_content {
  border-top: 3px solid #6c0000;
  display: flex;
  justify-content: space-around;
  width: 900px;
  height: 400px;
  box-shadow: 0 0 10px 0;
  z-index: 1;
}
.categories_content_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories_content_left h4 {
  margin-top: 20px;
}
.categories_content_mid h4,
.categories_content_right h4 {
  margin: 20px 0 20px;
}
.categories_content_mid img,
.categories_content_right img {
  width: 234px;
  height: 60px;
}
.mid_content a,
.right_content a,
.shop_content li a {
  font-size: 14px;
}
.mid_content {
  line-height: 30px;
  box-sizing: border-box;
  height: 140px;
}
.right_content {
  line-height: 30px;
}
/* shop */
.shop_content {
  position: absolute;
  top: 80px;
  width: 980px;
  height: 0;
  background-color: whitesmoke;
  overflow: hidden;
  transition: 0.3s;
}
.shop_content_link {
  line-height: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  box-sizing: border-box;
  margin-top: 20px;
}
.shop_content_link ul {
  list-style: square;
  color: #6c0000;
  padding-left: 10px;
}
.hr_shop {
  opacity: 0.3;
  margin: 0 25px;
}
.shop_content_link a {
  font-size: 18px;
}
.shop_content li {
  margin-left: 20px;
  padding: 8px 0;
}
.shop_img {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.shop_img img {
  width: 445px;
  height: 120px;
}
.header_menu_shop:hover .shop_content {
  display: block;
  height: 480px;
  border-top: 3px solid #6c0000;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* ****search */
/* .search{
  position: absolute;
  top:80px;
  display: flex;
  height: 40px;
  width: 200px;
  background-color: whitesmoke;
  align-items: center;
  display: none;
}
.header_right .icon:hover .search{
  display: block;
  
}
.search_input{
  outline: whitesmoke;
  border: none;
  font-size: 18px;
  width: 160px;
  background-color: whitesmoke;
}
.click_search{
   line-height: 40px;
   width: 40px;
   background-color: #6c0000;
   color: whitesmoke;
   text-align: center;
} */
/* SLIDER */
#slider {
  position: relative;
}
#slider img {
  width: 100%;
  max-width: 100%;
}
.slider_card {
  position: absolute;
  top: 25%;

  left: 150px;
}
.btn {
  width: 200px;
  height: 40px;
}
.slider_slogan {
  color: white;
}
.slider_slogan_title {
  padding: 10px 0 10px 0;
  margin: 0;
  display: flex;
  justify-content: start;
}
.slider_slogan_document {
  max-width: 560px;
  font-size: 16px;
  line-height: 25px;
  word-spacing: 2px;
  margin-bottom: 10px;
}
.btn-danger {
  width: 130px;
  border-color: white;
  background-color: #6c0000;
}
.btn-danger:hover {
  background-color: #fff;
}
.btn-danger > a {
  color: white;
  text-decoration: none;
}
.btn-danger:hover > a {
  color: #000;
  text-decoration: none;
}
/* content */
#content {
  margin: 50px 125px;

  box-sizing: border-box;
}
.content_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item_main .bi-gift,
.bi-truck,
.bi-credit-card,
.bi-headphones {
  display: block;
  transform: rotateY(0deg);
  transition: 0.3s;
}
.item_main:hover i {
  transform: rotateY(360deg);
}
.item_truck {
  width: 100px;
  font-size: 40px;
  background-color: #6c0000;
  text-align: center;
  color: white;
  border-radius: 100%;
  line-height: 100px;
}
.item_ship {
  margin: 20px 0 5px;
}
.item_main {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item_main_word {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
/* topProduct */
.content_topProduct {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
}
.move {
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.move button {
  border: none;
}
.move_left {
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  background-color: #6c0000;
  transition: 1s;
}
.move_left:hover {
  background-color: #000;
  transition: 1s;
}
.move_left i {
  color: #fff;
  font-size: 20px;
}
.content_topProduct {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.gach {
  width: 130px;
  position: absolute;
  height: 5px;
  background-color: #000;
}
/* content_focus */
.content_focus {
  display: flex;
  justify-content: center;
}
.btn-group button {
  margin: 0 10px;
}
.btn-primary:hover {
  background-color: #6c0000;
  border-color: #fff;
}
.btn-primary {
  background-color: #efefef;
  color: #000;
  font-weight: 500;
  border-radius: 0%;
  border-color: white;
}
.slider_button,
.slider_button:hover {
  color: #000;
  background-color: white;
  border-color: white;
  cursor: auto;
}
.btn-primary.active {
  background-color: #6c0000;
  border: none;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  background-color: #6c0000 !important;
}
/* content_product */
.content_product {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content_product .product_item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}
.content_product_colum_number {
  width: 234px;
  height: 430px;
  margin-right: 77px;
  position: relative;
  box-sizing: border-box;
  transition: 2s;
}

.content_product .show {
  display: flex;
}
.content_product_colum_number img {
  width: 234px;
  height: 293px;
}
.content_product_colum_number a {
  color: #000;
  text-decoration: none;
}
.product_info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}
.content_product_colum_number:hover .product_buy {
  display: flex;
  justify-content: space-between;
}
.product_buy {
  width: 85%;
  position: absolute;
  left: 8%;
  bottom: 35%;
  display: none;
}
.buy_item {
  width: 35px;
  height: 35px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  position: relative;
}
.buy_item_link {
  position: absolute;
  top: -40px;
  width: 100px;
  font-size: 13px;
  height: 30px;
  background-color: #000;
  color: #fff;
  align-items: center;
  text-align: center;
  display: none;
}
/* thanh nho duoi add */
.buy_squence {
  position: absolute;
  top: -15px;
  height: 8px;
  width: 8px;
  display: none;
  background-color: #000;
  transform: rotate(45deg);
}
.buy_item:hover .buy_item_link,
.buy_item:hover .buy_squence {
  display: block;
}
.buy_item:hover i {
  color: #fff;
}
.buy_item:hover {
  background-color: #6c0000;
}
.content_product_colum {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.name_img h5 {
  font-size: 17px;
  font-weight: 500;
}
.name_img:hover h5 {
  color: #6c0000;
}
/* banner */
.banner {
  width: 85%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.banner_img {
  box-sizing: border-box;
  position: relative;
  width: 630px;
  margin-right: 30px;
}
.banner img {
  width: 610px;
}
.button_img {
  position: absolute;
  bottom: 10%;
  right: 9%;
}
@keyframes boyx {
  0% {
    top: 0px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0px;
  }
}
.banner_left,
.banner_right {
  position: relative;
}
.banner_sale img {
  width: 120px;
  height: 100px;
  position: relative;
  animation: boyx 3s infinite;
  margin-left: 50px;
}
.banner_title {
  position: absolute;
  top: 7%;
  right: 10%;
  width: 200px;
  height: 250px;
  text-align: center;
}
.banner_title_black {
  color: #fbbf00;
  font-size: 60px;
}
.banner_title_friday {
  color: white;
  font-size: 35px;
  padding-right: 15px;
}
.banner_title_right {
  position: absolute;
  top: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_right_special {
  color: #d60000;
  font-size: 60px;
}
.title_right_awesome {
  color: whitesmoke;
}

.hoverr:hover {
  cursor: none;
}
.limitedtime,
.limitedtime:hover {
  background-color: #d60000;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6) inset;
  margin: 10px 0;
}
.btn-warning {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6) inset;
  display: block;
  margin-left: 35%;
}
.banner_right_discountt {
  color: red;
  line-height: 25px;
}
.upto40,
.upto40:hover {
  width: 150px;
  background-color: #d60000;
  margin: 10px 0 0 90%;
}

/* actor */
.actor {
  background-image: url(../images/backgourd_actor1_home.png);

  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  line-height: 40px;
}
.move_actor_home {
  width: 82%;
  display: flex;
  justify-content: space-between;
}
.move_actor_home div {
  font-size: 25px;
}
.actor_sologan {
  width: 850px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
.bottom_lastbog {
  width: 150px;
  position: absolute;
  height: 3px;
  background-color: #000;
}
/* lastest blog */

.blog_box {
  width: 410px;
  background-color: #efefef;
  margin-bottom: 25px;
  margin: 0 5px;
}
.blog_box img {
  width: 100%;
}

.blog_box .blog__content .date_time {
  background-color: #6c0000;
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid white;
  color: white;
  position: absolute;
  transform: translate(30px, -30px);
}

.blog_box .blog__content .text_comment {
  padding: 30px;
}
.blog_box .blog__content a {
  text-decoration: none;
  color: black;
}

.blog_box .blog__content .comment_blog {
  text-align: end;
}

.blog_box .blog__content .comment_blog a:hover {
  color: #6c0000;
}
.blog_box .blog__content .comment_blog a::before {
  content: "\f27a";
  font-family: "FontAwesome";
  color: #6c0000;
}
.blog__content .comment_detail h4,
p {
  text-align: center;
}
.blog_box .blog__content .comment_detail a {
  font-weight: bold;
  padding: 10px 0 10px 0;
  position: relative;
}
.blog__content .comment_detail a::after {
  content: "\f101";
  font-family: "FontAwesome";
  padding: 0 0 0 10px;
}

.blog_box .blog__content .comment_detail div {
  text-align: right;
}

.blog_box .blog__content .comment_detail a:hover {
  color: #6c0000;
}
.comment_detail p {
  font-size: 19px;
  margin: 20px 0;
}

.blog_box .blog__content .comment_detail a::before {
  content: "";
  height: 2px;
  display: inline-block;
  position: absolute;
  width: 50%;
  transform: translateY(25px);
  background-color: #6c0000;
  transition: 0.5s;
}

.blog_box .blog__content .comment_detail a:hover:before {
  width: 100%;
  transition: 1s;
}
.content_lastest_blogs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.email_home {
  background-image: url(../images/input_head_phone.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin: 50px 0;
  padding-bottom: 50px;
}
.email_home_content {
  margin-left: 7%;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.email_home_content_left {
  margin-top: 40px;
  color: #fff;
  display: flex;
}

.email_home_content_left_boder {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background-color: #6c0000;
  font-size: 40px;
  text-align: center;
  line-height: 85px;
  color: white;
  border: 2px solid #fff;
}
.email_home_content_left_info {
  margin-left: 20px;
  height: 100px;
  line-height: 30px;
}

.email_home_content_left_info h3 {
  margin-top: 15px;
}
.email_home_content_right {
  margin-top: 70px;
  width: 620px;
  height: 60px;
  background-color: white;
}
.email_home_content_right .enter_email {
  height: 60px;
  border: none;
  outline: none;
  width: 450px;
  margin-left: 20px;
}
.email_home_content_right .btn-success {
  width: 150px;
  float: right;
  height: 100%;
  background-color: #6c0000;
  box-shadow: none;
  border: none;
  border-radius: 0;
}
.email_home_content_right .btn-success:hover {
  box-shadow: none;
  background-color: #d60000;
  border-radius: 0;
}

.footer_quali div {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.cart-product {
  display: flex;
}
.info-cart {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  line-height: 30px;
}
.info-cart p {
  text-align: left;
}
.info-cart h3 {
  font-size: 35px;
}
.info-cart button {
  width: 100px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 0 0 10px;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px #fff;
}

.info-cart button:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3),
    inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.info-cart .btn-cart {
  display: none;
}
.info-cart:hover .btn-cart {
  display: block;
}

.info-cart .btn-cart .cart-pay {
  background: green;
}

.info-cart .btn-cart .cart-fix {
  background: red;
}
.border_bottom {
  border-bottom: 1px solid whitesmoke;
  display: none;
}
.aea{
  display: none;
}