

#content{
    margin: 0;
}
.list-item-img{
   display: flex; 
   flex-wrap: wrap;
   position: relative;
   justify-content: center;
    margin-top: 10px;
}
.product-img .owl-item{
    width: 110px;
    height: 140px;
    margin: 5px;
}

.product-img .owl-item img{
    width: 100%;

}
.nav-left,
.nav-right{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border: none;
    font-size: 20px;
    background-color: white;
    color: #6c0000;
}
.nav-left{
    left: 50px;
    
}
.nav-right{
    right: 50px;
}
.product-right .product-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-right .rating{
    display: flex;
}
.product-rating{
    font-size: 0.8em;
    color: #fec60f;
    margin: 0 15px 0 0;
}
.product-review,
.product-comment{
    text-decoration: none;
    color: #202020;
    font-size: 0.9em;
    margin: 0 15px 0 0;
}
.product-review:hover,
.product-comment:hover{
    color: #6c0000;
}
.product-comment::before{
    content: "";
    border: .3px solid rgb(147,147,147);
    margin: 0 15px 0 0;
    height: 10px;
}

.product-right ul{
    padding: 0;
}




.product-right li{
    list-style: none;
    font-size: 14px;
    margin-bottom: 8px;
}

.product-right .list-dics .dics{
    font-weight: 600;
    display: inline-block;
    min-width: 125px;
    margin-right: 5px;
}
.product-right .list-dics .dics1{
    text-decoration: none;
    color: rgb(147,147,147);
}
.product-right .product-price h2{
    font-size: 22px;
}
.product-right .quantity-addcart{
    display: flex;
    align-items: center;
}

.product-right .quantity-addcart .pro-quantity label{
    margin-right: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.product-right .quantity-addcart .pro-quantity{
    display: flex;
    margin-right: 20px;
}
.product-right .quantity-addcart .pro-quantity .btn-quantity{
    background-color: #efefef;
}
.product-right .quantity-addcart .pro-quantity .btn-quantity input{
    border: none;
    outline: none !important;
    width: 70px;
    height: 40px;
    text-align: center;
    padding: 10px;
    background: #efefef;
}
.product-right .quantity-addcart .pro-quantity .btn-quantity button{
    border: none;
    background-color: #d9d9d9;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.product-right .quantity-addcart .pro-quantity .btn-quantity button:hover{
    background: #6c0000;
    color: white;
}

.product-right .quantity-addcart .pro-addcart{
    height: 40px;
}
.product-right .quantity-addcart .pro-addcart button{
    width: 160px;
    height: 100%;
    border: none;
    background-color: #6c0000;
    color: white;
    transition: 1s;
}
.product-right .quantity-addcart .pro-addcart button i{
    margin-right: 8px;
}
.product-right .quantity-addcart .pro-addcart button:hover{
    background-color: #202020;
    transition: 1s;
}

.product-right .post-cart{
    margin-top: 20px;
    height: 40px;
}

.product-right .post-cart button{
    height: 100%;
    border: none;
    background: none;
    margin: 0 10px 0 0;
    font-size: 14px;
    font-weight: 600;
}
.product-right .post-cart button:hover{
    color: #6c0000;
}
.product-right .post-cart button:hover i{
    background-color: #202020;
}
.product-right .post-cart button i{
    margin-right: 8px;
    height: 30px;
    width: 30px;
    background-color: #6c0000;
    text-align: center;
    line-height: 30px;
    color: white;
}